<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="~{base :: Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center text-white">
            <h1 class="font-weight-bold">SMART CONTACT MANAGMENT</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus alias deserunt dolore, ea earum eos explicabo fuga fugit maxime necessitatibus nisi nobis pariatur tempora temporibus, unde vero! Ducimus, quasi!</p>
            <button class="btn bg-primary text-white btn-lg" onclick="window.location.href='/login'">GET START</button>

        </div>
    </section>
</body>
</html>